
<form class="user-form">
    <h2>New User</h2>

    <div class="name-input-field">
      <mat-form-field required class="example-full-width">
        <input [(ngModel)]="user.name" matInput placeholder="Name" name="Name">
      </mat-form-field>
    </div>    

    <div>
        <mat-form-field class="role-input-field">
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let role of roles"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(role)">
                {{role.role}}
                <mat-icon matChipRemove *ngIf="removable"></mat-icon>
              </mat-chip>
              <input
                placeholder="Enter role..."
                #roleInput
                [formControl]="formCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let role of filteredRoles | async" [value]="role">
                {{role.role}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>          
    </div>

    <div class="submitUserForm">
        <button (click)="submit()" role="submit" mat-button>Submit</button>
    </div>

    <div *ngIf="userAdded">
        New user {{userAdded.name}} submitted
    </div>
</form>