
<form ngSubmit="submit()" [formGroup]="userForm" class="user-form">
    <div class="form-header">New User</div>

    <div class="name-input-container">
      <mat-form-field class="example-full-width">
        <input required [(ngModel)]="user.name" matInput placeholder="Name" name="Name"
          [formControl]="nameFormCtrl" >
      </mat-form-field>
      <mat-error *ngIf="nameFormCtrl.hasError('required') && nameFormCtrl.touched">
          Name is required
      </mat-error>
    </div>    

    <div class="role-input-container">
        <mat-form-field >
            <mat-chip-list #chipList 
            [formControl]="chipFormCtrl" required>
              <mat-chip
                *ngFor="let role of roles"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(role)">
                {{role.role}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Enter role..."
                #roleInput
                [formControl]="roleFormCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let role of filteredRoles | async" [value]="role">
                {{role.role}}
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>  
          <mat-error *ngIf="roleFormCtrl.touched && roles.length == 0">
              Select at least one Role
          </mat-error>        
    </div>

    <div class="submitUserForm">
        <button mat-raised-button (click)="submit()" type="submit" mat-button>Submit</button>
    </div>

    <div *ngIf="userAdded">
        New user {{userAdded.name}} submitted
    </div>
</form>